__pycache__/**
*__pycache__/**
.github/**
.idea/**
.vscode/**
.DS_Store/**
.env/**
.env
fhenv/**
.sesskey
*cursor-0.*
cursor-0.39.5x86_64.AppImage
cursor-0.39.6-build-240819ih4ta2fye-x86_64.AppImage
qodana.yaml
.qodana/**
.idea/**
.vscode/**
data/**
.git/**
*qodana*
app/data/**
app/data
app/data/utodos.db
app/__pycache__
app/__pycache__/main.cpython-312.pyc


